In [1]:
# Chi- Square Test - A test of Independence

In [2]:
import pandas as pd
from scipy.stats import chi2_contingency

C:\Users\ACER\anaconda31\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
data = {'category': ['A','B','A','B','A','B','A','B'],
        'outcome': [1,0,1,1,0,1,0,0]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

  category  outcome
0        A        1
1        B        0
2        A        1
3        B        1
4        A        0
5        B        1
6        A        0
7        B        0

In [6]:
# Create a contingency table

contingency_table = pd.crosstab(df['category'],df['outcome'])
contingency_table

outcome   0  1
category
A         2  2
B         2  2

In [7]:
# Perform the chi square test

chi2, p, _, _ = chi2_contingency(contingency_table)

In [8]:
# Print the results

c

NameError: name 'c' is not defined

In [ ]:
print(f"p- Value {p}")

In [ ]:
# Interpret the results

alpha = 0.05
if p<alpha:
    print("There is a significant association between category and outcome")
else:
    print("There is no significant association between category and outcome")

In [ ]:
ho = Null Hypothesis
ha = Alternate Hypothesis

In [ ]:
import s