https://medium.com/@hello_5579/what-are-semi-anti-and-natural-joins-in-sql-82b94d08c11e

https://medium.com/@hello_5579/you-will-never-use-pandas-describe-method-after-using-these-two-libraries-e29aca1488d1

In [83]:
import statistics

In [84]:
data = [1,2,3,4,5,6,7,8,9,3,3,3,3,3,3]

In [85]:
mean = statistics.mean(data)

In [86]:
mean

4.2

In [87]:
median  = statistics.median(data)

In [88]:
median

3

In [89]:
mode = statistics.mode(data)

In [90]:
import numpy as np
d = np.array([1,2,3,44,5,5,6,6,6,6,6])
d

array([ 1,  2,  3, 44,  5,  5,  6,  6,  6,  6,  6])

In [91]:
# 1 way of cal. std_deviation ---- recommended way
std = np.std(d)

In [92]:
std

11.4559883651079

In [93]:
# 2nd way of calculating std. deviation
std_2 = statistics.stdev(data)
std_2

2.305273457593635

In [94]:
from scipy import stats

In [95]:
data = [1,2,3,4,5,6,7,8,3,3,3,3]
data

[1, 2, 3, 4, 5, 6, 7, 8, 3, 3, 3, 3]

In [96]:
mode = stats.mode(data)
mode

C:\Users\ACER\AppData\Local\Temp\ipykernel_11480\2117313215.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(data)

ModeResult(mode=array([3]), count=array([5]))

In [97]:
data = np.array([1,2,3,4,5,6,7,7])

In [98]:
# Skewness of data
def calculate_skewness(data):
    n = len(data)
    mean = np.mean(data)
    std_dev = np.std(data, ddof=1)  # ddof=1 for sample standard deviation

    numerator = np.sum((data - mean) ** 3) / n
    denominator = std_dev ** 3

    skewness = numerator / denominator
    return skewness

In [99]:
calculate_skewness(data)

-0.14847653353355889

In [100]:
# skewness

skewness = np.mean((data - np.mean(data))**3)/ np.std(data)**3

In [101]:
skewness

-0.18140353255785455

In [102]:
from scipy.stats import skew

In [103]:
data = [1,2,2,3,3,3,4,4,5]

In [104]:
# recommended way
skewness = skew(data)

In [105]:
skewness

0.0

In [106]:
# 3rd way

import pandas as pd

In [107]:
df = pd.DataFrame({'data':[1,2,2,3,3,3,4,4,5]})

In [108]:
df

   data
0     1
1     2
2     2
3     3
4     3
5     3
6     4
7     4
8     5

In [109]:
# Recommended
df['data'].skew()

0.0

In [110]:
import statsmodels.api as sm

In [111]:
data = np.array([1,2,2,3,3,4,4,5,50])

In [112]:
data

array([ 1,  2,  2,  3,  3,  4,  4,  5, 50])

In [113]:
from statsmodels.stats.stattools import medcouple

skewness = medcouple(data)

In [114]:
skewness

array(0.)

In [115]:
#if medcouple > 0 (right skewed) -- long right tail

#if m < 0 --- left skewed

#if m = o the data is symmetric

In [116]:
# Kurotosis

#if k>0 heavier tails (Presence of outliers)

#if k < 0 lighter tails (outliers)

#if k = 0 (Normal distributions)

In [117]:
data = np.array([1,2,2,3,3,4,4,5,50])

In [118]:
stats.kurtosis(data)

4.043315981734007

In [119]:
# another way

def calculate_kurtosis(data):
    n = len(data)
    mean = np.mean(data)
    variance = np.var(data, ddof=1)  # ddof=1 for sample variance

    numerator = np.sum((data - mean) ** 4) / n
    denominator = variance ** 2

    kurtosis = numerator / denominator - 3
    return kurtosis

In [120]:
# Creating a DataFrame with two columns, x and y

data = {'x': [1, 2, 3, 4, 5],

        'y': [5, 4, 3, 2, 1]}

df = pd.DataFrame(data)

In [121]:
df

   x  y
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

In [122]:
# Correlationship and covariance

cov = df['x'].cov(df['y'])

In [123]:
cov

-2.5

In [124]:
corre_coef = df['x'].corr(df['y'])

In [125]:
corre_coef

-0.9999999999999999

In [126]:
# Example datasets
x = [1, 2, 3, 4, 5]
y = [5, 4, 3, 2, 1]

# Calculate covariance
covariance = np.cov(x, y)[0][1]
print("Covariance:", covariance)

Covariance: -2.5

In [127]:
# Example datasets
x = [1, 2, 3, 4, 5]
y = [5, 4, 3, 2, 1]

# Calculate correlation coefficient
correlation_coefficient = np.corrcoef(x, y)[0][1]
print("Correlation coefficient:", correlation_coefficient)

Correlation coefficient: -0.9999999999999999